/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/material-icons.woff2');
}

html, body, ca-root, ca-app-layout, ca-login {
  display: flex;
  flex-direction: column;
  font-family: "Palatino Linotype";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ca-container{
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: rgb(213, 208, 255);
}

.ca-login {
  background-color: rgb(213, 208, 255);
}


.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
}

.ca-primary {
  color: rgb(103, 58, 183)!important;
}

.ca-accent{
  color:rgb(255,215,64)!important;
}

.ca-warn{
  color:rgb(244,67,54)!important;
}

.ca-primary-bg {
  background-color: rgb(103, 58, 183)!important;
}

.ca-accent-bg {
  background-color:rgb(255,215,64)!important;
}

.ca-warn-bg {
  background-color:rgb(244,67,54)!important;
}
