<div (click)="sidenav.toggle()" class="ca-toolbar ca-accent ca-primary-bg mat-elevation-z8" >
  <div fxLayout="row" fxFlex="200px" fxLayoutAlign="start center">
    <button title="View side menu" mat-mini-fab>
      <mat-icon class="material-icons">menu</mat-icon>
    </button>

    <h2 class="intend">
      Contact app
    </h2>
  </div>
</div>

<mat-sidenav-container class="ca-container">
  <mat-sidenav fxLayoutAlign="top center" fxLayout="column" class="ca-sidenav ca-primary-bg mat-elevation-z10"
               mode="push" opened="false" #sidenav>
    <h3>SideBar</h3>
    <button mat-button title="Add 3 default contacts" (click)="defaultContacts()">
      <mat-icon class="material-icons ca-accent">group_add</mat-icon>
    </button>
    <img src="/assets/person.svg" />
    <h4>{{username}}</h4>
    <button mat-button title="Log out user" (click)="logOut()">
      <mat-icon class="material-icons ca-accent">exit_to_app</mat-icon>
    </button>
  </mat-sidenav>

  <div class="ca-content">

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

