<mat-list-item (mouseover)="hover=true" (mouseleave)="hover=false">

  <div class="ca-text-div" title="Edit contact" fxLayoutAlign="start center" (click)="editContact(contact)">

    <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="start stretch">

      <div mat-line fxFlex="40px" fxLayout="column">
        <mat-icon color="warn">face</mat-icon>
      </div>

      <div mat-line fxLayout="column">
        <div class="ca-contact-big-text">{{contact.firstName}}</div>
        <div class="ca-contact-small-text">{{contact.lastName}}</div>
      </div>

    </div>
    <div fxLayout="row" fxFlex="0 1 auto" fxShow="{{hover}}" fxHide.xs="true" class="hidden-xs" fxLayoutAlign="end center">

      <div mat-line fxLayout="column" style="text-align: right" >
        <div class="ca-contact-big-text">
          <mat-icon style="font-size:16px">phone</mat-icon>
          {{contact.phone}}
        </div>
        <div class="ca-contact-small-text">{{contact | contactAddress}}</div>
      </div>
    </div>

  </div>

  <div class="ca-trash-div" fxLayoutAlign="center center" title="Delete contact" (click)="delContact(contact)">
      <button mat-icon-button color="warn">
        <mat-icon>delete_forever</mat-icon>
      </button>
  </div>

</mat-list-item>

