
.ca-contact-big-text {
  font-size: medium;
}

.ca-contact-small-text {
  font-size: small;
}

.ca-text-div {
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  height: 48px;
}

.ca-trash-div {
  padding:0;
  margin: 0;
  display: block;
  alignment: right;
  width: 48px;
  height: 48px;
}
