.ca-sidenav {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  height: 100%;
  width: 20%;
  min-width: 200px;
  margin: 0;
  color: whitesmoke;
}

.ca-toolbar {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0px 0px 0px 16px;
  color: whitesmoke;
}

.ca-content {
  padding: 16px;
}

.ca-person-svg {
  fill:rgb(255,215,64);
}

.ca-person-svg-bg {
  fill:rgb(128,107,32);
}

.ca-person-svg-stroke {
  stroke:rgb(255,215,64);
}

