<div fxLayout="column" fxFlex="256px" fxLayoutAlign="space-between stretch">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" fxLayout="column" fxLayoutAlign="space-between center">

    <mat-form-field>
      <input matInput placeholder="First Name" type="text" required [(ngModel)]="contact.firstName" name="firstName"
             id="firstName" #firstName="ngModel" (blur)="editMap=false" (focus)="editMap=true">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        First name is required
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" required [(ngModel)]="contact.lastName" name="lastName"
             id="lastName" #lastName="ngModel" (blur)="editMap=false" (focus)="editMap=true">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        Last name is required
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" type="text" required [(ngModel)]="contact.phone" name="phone"
             id="phone" #phone="ngModel" (blur)="editMap=false" (focus)="editMap=true">
      <mat-icon matSuffix>phone</mat-icon>
      <div [hidden]="phone.valid || phone.pristine"
           class="alert alert-danger">
        Phone number is required
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Street Address" type="text" required [(ngModel)]="contact.streetAddress"
             name="streetAddress" id="streetAddress" #streetAddress="ngModel" (blur)="editMap=false" (focus)="editMap=true">
      <div [hidden]="streetAddress.valid || streetAddress.pristine"
           class="alert alert-danger">
        Street address is required
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" type="text" required [(ngModel)]="contact.city" name="city" id="city"
             #city="ngModel" (blur)="editMap=false" (focus)="editMap=true">
      <div [hidden]="city.valid || city.pristine"
           class="alert alert-danger">
        City is required
      </div>
    </mat-form-field>

  </form>


  <div fxLayout="row" fxLayoutAlign="start center">

    <button mat-raised-button fxFlex *ngIf="contact.id === 0" [disabled]="!contactForm.form.valid" type="submit"
            color="accent"
            (click)="newContact(contact)">
      <div fxFlex="30px" fxLayout="row">
        <mat-icon class="material-icons">person_add</mat-icon>
      </div>
      <div>
        Add user
      </div>
    </button>

    <button mat-raised-button fxFlex *ngIf="contact.id > 0" type="submit"
            [disabled]="!contactForm.form.valid || !contactForm.dirty"
            color="accent" (click)="editContact(contact)">
      <div fxFlex="30px" fxLayout="row">
        <mat-icon class="material-icons">save</mat-icon>
      </div>
      <div>
        Save changes
      </div>
    </button>

    <button mat-raised-button color="warn" (click)="goToContactList()">
      <div fxFlex="30px" fxLayout="row">
        <mat-icon class="material-icons">cancel</mat-icon>
      </div>
      <div>
        Cancel
      </div>
    </button>
  </div>


  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start start">
      <button mat-raised-button fxFlex (click)="toggleMap()" color="primary"
              [disabled] = "!city.valid || !streetAddress.valid || editMap" >

        <div fxFlex="30px" fxLayout="row">
          <mat-icon class="material-icons">language</mat-icon>
        </div>
        <div>
          Show on map
        </div>
      </button>
    </div>
    <iframe *ngIf="(!editMap && showMap && (city.valid && streetAddress.valid))" width=100% height="300px" frameborder="0px" style="border:0px"
            [src]="getMapUrl()" allowfullscreen>
    </iframe>
  </div>
</div>
