/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/material-icons.woff2');
}

html, body, ca-root, .ca-container {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: lightgrey;
}


.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.orange600 {
  color: #EB4C00;
}


.ca-primary {
  color: rgb(103, 58, 183)!important;
}

.ca-accent{
  color:rgb(255,215,64)!important;
}

.ca-warn{
  color:rgb(244,67,54)!important;
}

.ca-primary-bg {
  background-color: rgb(103, 58, 183)!important;
}

.ca-accent-bg {
  background-color:rgb(255,215,64)!important;
}

.ca-warn-bg {
  background-color:rgb(244,67,54)!important;
}
